### Maketrans and translate

In [2]:
intab = 'aeiou'
outtab = '12345'
my = 'this is string function!'
transtab = my.maketrans(intab,outtab)
print(transtab)
print(my.translate(transtab))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
th3s 3s str3ng f5nct34n!

### Removing punctuation

In [3]:
import string

In [5]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [6]:
mystring="!hi wha?t is t[h]e we?!ather li$ke"
newstring = mystring.translate(str.maketrans("","",string.punctuation))
print(newstring)

hi what is the weather like

In [8]:
newstring.maketrans??

## Tuple
- An immutable , ordered , and sequance which support indexing , slicing and iterating

In [12]:
t=(6,)
print(type(t))

<class 'tuple'>

### ZIP

In [13]:
a=(1,2,3)
b=(4,5,6)
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

### Tuple Packing

In [14]:
a=1,2,3,4

In [15]:
a

(1, 2, 3, 4)

### Tuple unpacking

In [16]:
a,b,c,d=a

In [18]:
a,b,c,d

(1, 2, 3, 4)

In [20]:
b

2

In [21]:
print(a,b,c,d)

1 2 3 4

### Type Conversion

In [22]:
a=[1,2,3,4]
print(a)
b=tuple(a)
print(b)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [23]:
a=tuple("Python")
print(a)

('P', 'y', 't', 'h', 'o', 'n')

In [24]:
a,b,*c=1,2,3,4,5
print(a,b,c)

1 2 [3, 4, 5]

### Indexing and Slicing

In [27]:
t=(4,5,6,7,8,9)
t[-1:-5:-1]

(9, 8, 7, 6)

### + and *

In [28]:
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [29]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [30]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

### Membership Operation

In [31]:
t=(7,8,9)
7 in t

True

In [32]:
6 in t

False

### Iteration

In [33]:
for i in t:
    print(i)

7
8
9

In [35]:
for i,j in enumerate(t):
    print(i,j)

0 7
1 8
2 9

In [36]:
for i in enumerate(t):
    print(i)

(0, 7)
(1, 8)
(2, 9)

### Universal method

In [39]:
t=(4,6,2,7,9,3)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))
print(sum(t))

6
2
9
[2, 3, 4, 6, 7, 9]
[9, 7, 6, 4, 3, 2]
31

### Tuple methods

In [ ]:
t. #tab press

In [45]:
t.count??

In [59]:
t=(1,2,3,3,3,5,6,7)
t.count(2)

1

In [60]:
t.index??

In [64]:
t.index(3,4)

4

### Comparison

In [65]:
(1,2,3,4)==(1,2,3,4)

True

In [66]:
(1,2,3,4)==(1,2,3,4,5)

False

In [67]:
(1,2,3,4)<(1,1,3,4)

False

In [68]:
(1,2,3,4)>(1,1,5,4)

True

In [69]:
(1,2,"a")>(1,2,"A")

True

### Generator

In [70]:
t=(1,2,3,4,5,6)
new = tuple(x*2 for x in t)
print(new)

(2, 4, 6, 8, 10, 12)

### Zip Tuple

In [71]:
t1=(1,2,3)
t2=(4,5,6)
new=tuple(x+y for x,y in zip(t1,t2))
print(new)

(5, 7, 9)

### WAP to create a func named lenght to find lenght of string without len function

In [77]:
def length(s):
    count=0
    for char in s:
        count+=1
    return count

#string="Hello world"
#print(length(string))

length("Hello World")

11

### WAP to swap the cases of the string without using swapcase

In [82]:
r=input("Enter the Value: ")
new=""
for i in r:
    if i.islower():
        new+=i.upper()
    elif i.isupper():
        new+=i.lower()
    else:
        new+=i
print(new)

Enter the Value: mR. eD
Mr. Ed

### WAP to extract the username from the given email

In [84]:
"abc@gmail.com".split("@")[0]

'abc'

In [86]:
m="abc@gmail.com"
pos = m.index("@")
m[:pos]

'abc'

### WAP to count the frequency of a character in a given string

In [91]:
m="www.google.com"
count=0
for i in m:
    if i=="w":
        count+=1
print(count)

3