### Dictionary

- mutable
- an associative array/mapping.
- represented as key value pair.
- indexing has no meaning.
- slicing is not present.
- keys are unique and immutable.
- values can be duplicated.

In [1]:
d={}
type(d)

dict

In [4]:
d={6}
type(d)

set

In [6]:
d={1:100,2:200,3:300,4:400}
print(d)

{1: 100, 2: 200, 3: 300, 4: 400}

In [7]:
.dict??

In [ ]:
.dict

In [8]:
new = dict([('a','apple'),('b','ball')])
print(new)

{'a': 'apple', 'b': 'ball'}

In [13]:
d={(1,2,3):100,2:200,3:300,4:400}
print(d)

{(1, 2, 3): 100, 2: 200, 3: 300, 4: 400}

### Accessing element of dict

In [16]:
d={'a':'apple','b':'ball','c':'chair'}
for i in d:
    print(i,d[i])

a apple
b ball
c chair

In [17]:
d['a']

'apple'

In [18]:
d['z']

KeyError: 'z'

### Access Value

In [27]:
dict_value={'a':'apple','b':'ball','c':'chair'}
for i in dict_value:
    print(i)

a
b
c

In [28]:
for i in dict_value.items():
    print(i)

('a', 'apple')
('b', 'ball')
('c', 'chair')

In [31]:
for i,j in dict_value.items():
    print(i,j)

a apple
b ball
c chair

### Accessing using get method

In [32]:
dict_value.get??

In [33]:
dict_value.get('b')

'ball'

In [35]:
print(dict_value.get('m',120))

120

### Deleting Element

In [43]:
dict_value['c']="chair"
dict_value

{'a': 'apple', 'b': 'ball', 'c': 'chair'}

In [44]:
del dict_value['c']
dict_value

{'a': 'apple', 'b': 'ball'}

### Clear

In [45]:
dict_value.clear()
print(dict_value)

{}

In [51]:
d={'a':'argentina','b':'brazil','c':'china','d':'denmark'}

In [52]:
s=d.copy()
s

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark'}

In [53]:
s

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark'}

In [54]:
s['e']="England"
print(s)
print(d)

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}
{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark'}

In [55]:
d=s
print(s)
print(d)

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}
{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}

### Fromkey

In [56]:
d

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}

In [57]:
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [61]:
d.fromkeys('python',100)

{'p': 100, 'y': 100, 't': 100, 'h': 100, 'o': 100, 'n': 100}

In [62]:
d

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}

### Pop

In [63]:
d

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}

In [64]:
d.pop??

In [65]:
d.pop('x',500)

500

In [66]:
d

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 'e': 'England'}

In [68]:
d.pop('c')

'china'

In [69]:
d

{'a': 'argentina', 'b': 'brazil', 'd': 'denmark', 'e': 'England'}

### Popitem

In [70]:
d

{'a': 'argentina', 'b': 'brazil', 'd': 'denmark', 'e': 'England'}

In [71]:
d.popitem??

In [73]:
d.popitem()

('e', 'England')

In [74]:
d

{'a': 'argentina', 'b': 'brazil', 'd': 'denmark'}

### Set Default

In [75]:
d={'a':'argentina','b':'brazil','c':'china','d':'denmark'}
d

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark'}

In [76]:
d.setdefault('b')

'brazil'

In [77]:
print(d.setdefault('t'))

None

In [78]:
d

{'a': 'argentina', 'b': 'brazil', 'c': 'china', 'd': 'denmark', 't': None}

In [79]:
d1={1:100,2:200,3:300}
d.update(d1)

In [80]:
d

{'a': 'argentina',
 'b': 'brazil',
 'c': 'china',
 'd': 'denmark',
 't': None,
 1: 100,
 2: 200,
 3: 300}

In [81]:
d2={1:400,2:500,3:600}
d.update(d2)
d

{'a': 'argentina',
 'b': 'brazil',
 'c': 'china',
 'd': 'denmark',
 't': None,
 1: 400,
 2: 500,
 3: 600}

### Dictionary Comprehension

### WAP to return squares of numbers from 0 to 5 in a dictionary format

In [84]:
{i: i**2 for i in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [85]:
{i: i**2 for i in range(6) if i%2==0}

{0: 0, 2: 4, 4: 16}